<ul class="collection">
  <li class="collection-item"><%= @invention.description %></li>
  <li class="collection-item"><%= @invention.user_name %></li>
  <li class="collection-item"><%= @invention.email %></li>
  <li class="collection-item"><%= @bits %></li>
</ul>
